#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export QT_SELECT := qt5
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

#override_dh_install:
#	mkdir -p $(QT_INSTALL_DIR) && \
#	make install INSTALL_ROOT=$(QT_INSTALL_DIR) -C ukui-volume-control/ukui-volume-control-applet-qt/build/
#	dh_install

override_dh_auto_configure:
	# upstream tarball is without configure. autogen.sh will create it
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure -- \
		--localstatedir=/var \
		--disable-silent-rules \
		--disable-static

override_dh_auto_build:
	dh_auto_build
	dh_auto_configure --sourcedirectory=ukui-volume-control-applet-qt --builddirectory=ukui-volume-control-applet-qt/build -- ..
	make -C ukui-volume-control-applet-qt/build/
	mkdir -p ukui-volume-control-applet-qt/ukui-media-control-led/build/
	dh_auto_configure --sourcedirectory=ukui-volume-control-applet-qt/ukui-media-control-led --builddirectory=ukui-volume-control-applet-qt/ukui-media-control-led/build -- ..
	make -C ukui-volume-control-applet-qt/ukui-media-control-led/build/
