[Unit]
Description=Mate media control leds daemon
After=lightdm.service

[Service]
Restart=always
RestartSec=2
ExecStart=/usr/bin/ukui-media-control-led

[Install]
WantedBy=multi-user.target
